@import "home";
@import "motorbike_show";

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px
}

.bookingcards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8px;
  height: 120px;

}

.bookingcard img {

  height: 100%;
  width: 120px;
  object-fit: cover;
}
