body {
  text-align: center;
  width: 100%;
  height: 100%;
/*  overflow: hidden;
*/margin-top: 30px;
  margin: 0px;
  padding-top: 120px;
  font-weight: lighter;
  font-family: 'Raleway', sans-serif;
}
