// Import page-specific CSS files here.
@import "home";
@import "motorbike_show";




.motorbikes {
justify-content: start;
}

.Cards {
   display: flex;
   flex-wrap: wrap;


  &__grid {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;

    > .grid-item {
      padding: 0 8px;
      box-shadow: 2px 2px 20px -9px rgba(51,51,51,1);
    }
  }
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px
}


