// Import page-specific CSS files here.
@import "home";
@import "motorbike_show";




.motorbikes {
  margin: 100px 0;
}

.Cards {
   display: flex;
   flex-wrap: wrap;


  &__grid {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;

    > .grid-item {
      padding: 0 8px;
    }
  }
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px
}


