.container {
  display: table;
  margin-top: 20px;
}

#map {
  border-radius: 7px;
  box-shadow: 4px 4px 10px grey;
}

.show_map {
  text-align: center;
  margin: 10px 10px;
}


.carousel-inner {
  border-radius: 8px;
  box-shadow: 4px 4px 10px grey;
}

.mapboxgl-canvas {
  border-radius: 7px;
  box-shadow: 4px 4px 10px grey;

}


