<h4 style="padding: 40px; text-align: justify;"><%= @motorbikes.count %> Motorbikes</h4>
<section class="motorbikes">
  <div class="container-fluid">

    <div class="Cards">
      <div class="Cards__grid">

        <div class="col-8">
          <div class="cards">
            <% @motorbikes.each do |motorbike|  %>
             <div class="grid-item">
                 <%= render 'shared/card', motorbike: motorbike %>
                <%#= render 'shared/card', motorbike: motorbike %>
             </div>
           <% end %>

          </div>
        </div>


          <div class="col-4">
            <%= link_to "/", class: "map" do %>
            <%= image_tag "map.png" %>
            <% end %>
          </div>
        </div>



      </div>
    </div>

  </div>
</section>
