.home-banner {
  // background-image: url('TODO: A picture URL from unsplash.com!');
  height: 110vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
  background-size: cover;
  background-position: center;
  color: white;

  h1{
    margin-bottom: 25px;
    font-family: 'Raleway', ;
    font-weight: lighter;
  }

  p {
    margin: 30px;
  }
}





