.Card {
  position: relative;
  display: block;
  width: 100%;
  text-decoration: none;
  color: inherit;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 20px;

  &:hover,
  &:focus {
    text-decoration: none;
    color: inherit;
  }

  &__inner {
    background: $white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.05);
    border-radius: 6px;
    height: auto;
  }

  &__img {
    margin: 0;
    background: $dark;
    position: relative;
    overflow: hidden;

    > * {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
    }

    &::after {
      content: "";
      display: block;
      height: 0;
      width: 100%;
      padding-bottom: percentage(9 / 16);
    }


  }

  &__name {
    margin: 0;
    font-size: 21px;
    line-height: 1.5;
    font-weight: bold;
  }
}



