.navbar-lewagon {
  justify-content: space-between;
  background-color: #10100F;
  transition: 0.5s background-color ease;
}
.navbar-lewagon-white {
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.dropdown-menu {
  background-color: #4c4c4c !important;
  border-radius: 5px;
  box-shadow: 3px 3px 7px grey;
}

.nav-item a {
  color: grey !important;
}
